html, body { font-family: "Amazon Ember", "Helvetica", "sans-serif"; margin: 0; }
a { color: #c4e9ff; }
h1 { font-weight: 300; }
.app { width: 100%;}
.app-header { color: white; text-align: center; background: linear-gradient(-30deg, #c4e9e0, #c4e9ff); width: 100%; margin: 0 0 1em 0; padding: 3em 0 3em 0; box-shadow: 1px 2px 4px rgba(0, 0, 0, .3); }
.app-logo { margin: 0 auto; }
.app-body { width: 400px; margin: 0 auto; text-align: center; }
.app-body button { background-color: #c4e9ff; font-size: 14px; color: white; text-transform: uppercase; padding: 1em; border: none; }
.app-body button { background-color: #c4e9ff; font-size: 14px; color: white; text-transform: uppercase; padding: 1em; border: none; }
.app-body button:hover { opacity: 0.8; }
.preview{
	height: 200px;
	width: 100%;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#floating-button{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: ;
  position: fixed;
  top: 15%;
  left: 30px;
  cursor: pointer;
  box-shadow: 0px 2px 5px #666;
  transition: margin-left .5s;
  z-index:9999;
}
#main {
  transition: margin-left .5s;
  padding: 10px;
  position:relative;
}
